doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Just another social media written with Node.js and MongoDB.')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='Honglio')
    title #{title} | Relax
    link(rel='stylesheet', href='/styles/lib/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/themes/ios7.css')
    link(rel='stylesheet', href='/styles/styles.css')
  body
    include partials/navigation

    .container
        include partials/flash
        block content

    include partials/footer

    block scripts
        script(type='text/javascript', src='/js/vendors/jquery.js')
        script(type='text/javascript', src='/js/vendors/bootstrap.js')