extends ../layout

block content
  form(method='POST')
    legend Sign In
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      .form-group
        label.control-label(for='email') Email
        input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
      .form-group
        label.control-label(for='password') Password
        input.form-control(type='password', name='password', id='password', placeholder='Password')
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-unlock-alt
          | Login
        a.btn.btn-link(href='/forgot') Forgot your password?
      hr
      a.btn.btn-block.btn-weibo.btn-social(href='/auth/weibo')
        i.fa.fa-weibo
        | Sign in with Weibo
      a.btn.btn-block.btn-renren.btn-social(href='/auth/renren')
        i.fa.fa-renren
        | Sign in with Renren
      a.btn.btn-block.btn-qq.btn-social(href='/auth/qq')
        i.fa.fa-qq
        | Sign in with QQ
      a.btn.btn-block.btn-github.btn-social(href='/auth/github')
        i.fa.fa-github
        | Sign in with GitHub
      a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
        i.fa.fa-linkedin
        | Sign in with LinkedIn