extends ../layout

block content
  .login-form
    .login-content
      form#signup-form.form-horizontal(method='POST', role='form')
        input(type='hidden', name='_csrf', value=_csrf)
        .page-header.text-center
          legend Signup
        .col-sm-8.col-sm-offset-2
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-envelope
              input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-key
              input.form-control(type='password', name='password', id='password', placeholder='Password')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-lock
              input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Comfirm Password')
          .form-group
            button.btn.btn-success.btn-block.btn-login(type='submit')
              i.fa.fa-check
                | Signup