extends ../layout

block content
  h2 API Examples
  hr

  .row.api-examples
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://files.techcrunch.cn/2014/03/sina-weibo-logo-yuanwenjian-xiazai-thumbnail.gif', height=40)
          a(href='/api/weibo') Weibo
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png', height=40)
          a(href='/api/github') GitHub
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://kellycpas.com/wp-content/uploads/2014/01/linkedin.png', height=40)
          a(href='/api/linkedin') LinkedIn
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://media.pocketgamer.biz/2012/11/4055/renren-logo-r225x.jpg', height=40)
          a(href='/api/renren') Renren
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://i.imgur.com/mec5qeZ.jpg?1', height=40)
          a(href='/api/qq') QQ