- if (comment && comment.user)
  .comment
    - var name = comment.user.profile.name ? comment.user.profile.name : comment.user.email
    p
      a(href='/account/'+comment.user._id)= name
      |  :&nbsp;
      = comment.body

    p.text-muted
      form.form-inline(role='form', method='POST', action='/articles/' + article._id + '/comments/' + comment._id, onsubmit='return confirm("Are you sure?")')
        input(type='hidden', name='_csrf', value=_csrf)
        span.text-muted= formatDate(comment.createdAt)
        input(type='hidden', name='_method', value='DELETE')
        button.btn.btn-danger.error(type='submit') delete